{% extends "base.html" %}
{% block title %}
用户详细信息 - {{object.user.id}} {{object.user.username}} 
{% endblock %}

{% block content %}


<table border = 1>
  <tr>
    <td>用户编号</td><td> {{object.user.id}}</td>
  </tr>
  <tr>
    <td>用户名</td><td> {{object.user.username}}</td>
  </tr>
  <tr>
    <td>真实姓名</td><td> {{object.user.first_name}}</td>
  </tr>

  <tr>
    <td>最后登录时间</td><td>{{object.user.last_login}}</td>
  </tr>
  <tr>
    <td>提交次数</td><td>{{object.submit_counts}}</td>
  </tr>
  <tr>
    <td>成功提交次数</td><td>{{object.accept_counts}}</td>
  </tr>
  <tr>
    <td>成功提交题数</td><td>{{object.accept_problems_counts}}</td>
  </tr>
  <tr>
    <td>成功提交的题目</td>
    <td>
      {% for problem in object.accept_problems.all %}
      <a href="/oj/problem/{{problem.id}}/">{{problem.id}}</a> 
      {% endfor %}
    </td>
  </tr>
</table>
<hr/>
<table>
  <tr>
    <td><a href='/oj/judge/?user={{object.user.id}}'>判题结果</a></td>
  </tr>
</table

{% endblock %}
