{% extends "base.html" %}
{% block title %}
Problem detail - {{object.id}} {{object.title}} 
{% endblock %}

{% block content %}

<h2> {{object.title}} </h2>

<table>
  <tr>
    <td>Problem Id</td><td> {{object.problemid}}</td>
  </tr>
  <tr>
    <td>Time Limit</td><td> {{object.timelimit}} ms</td>
  </tr>
  <tr>
    <td>Memory Limit</td><td>{{object.memorylimit}} KByte</td>
  </tr>
</table>

<h2>Description</h2>
<pre>
{{object.description}} 
</pre>

<h2>Input</h2>
<pre>
{{object.input}}
</pre>

<h2>Output</h2>
<pre>
{{object.output}}
</pre>

<h2>Sample Input</h2>
<pre>
{{object.sampleinput}}
</pre>

<h2>Sample Output</h2>
<pre>
{{object.sampleoutput}}
</pre>

{% if object.hint %}
<h2>Hint</h2>
{{object.hint}}
{% endif %}

{% if object.origin %}
<h2>Origin</h2>
{{object.origin}}
{% endif %}

<hr />
<table>
  <tr>
    <td>
      <a href="/oj/problem/{{object.problemid}}/submit/">Submit</a>
    </td>
    <td>
      <a href="/oj/problem/{{object.problemid}}/status/">Status</a>
    </td>
  </tr>
</table>

{% endblock %}
