{% extends "base.html" %}
{% block title %}
题目详述 - {{object.id}} {{object.title}} 
{% endblock %}

{% block content %}

<h2> {{object.title}} </h2>

<table>
  <tr>
    <td>题目编号</td><td> {{object.problemid}}</td>
  </tr>
  <tr>
    <td>时间限制</td><td> {{object.timelimit}} 毫秒</td>
  </tr>
  <tr>
    <td>内存限制</td><td>{{object.memorylimit}} K字节</td>
  </tr>
</table>

<h2>问题描述</h2>
<pre>
{{object.description}} 
</pre>

<h2>输入</h2>
<pre>
{{object.input}}
</pre>

<h2>输出</h2>
<pre>
{{object.output}}
</pre>

<h2>输入样例</h2>
<pre>
{{object.sampleinput}}
</pre>

<h2>输出样例</h2>
<pre>
{{object.sampleoutput}}
</pre>

{% if object.hint %}
<h2>提示</h2>
{{object.hint}}
{% endif %}

{% if object.origin %}
<h2>出处</h2>
{{object.origin}}
{% endif %}

<hr />
<table>
  <tr>
    <td>
      <a href="/oj/problem/{{object.problemid}}/submit/">提交</a>
    </td>
    <td>
      <a href="/oj/problem/{{object.problemid}}/status/">状态</a>
    </td>
  </tr>
</table>

{% endblock %}
