{% extends "base.html" %}

{% block content%}

<h2>Judge List</h2>

<table border = 1>
<tr>
	<td>judge id</td>
	<td>user</td>
	<td>problem</td>
	<td>language</td>
	<td>judge result</td>
	<td>submit time</td>
</tr>
{% for judge in object_list %}

<tr>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.id}} </a> </td>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.user}} </a> </td>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.problem}} </a> </td>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.language}} </a> </td>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.result}} </a> </td>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.submittime}} </a> </td>
</tr>

{% endfor %}
</table>

{% endblock %}
