{% extends "base.html" %}

{% block content%}

<h2>判题结果</h2>

<table border = 1>
<tr>
	<td>判题编号</td>
	<td>用户</td>
	<td>问题</td>
	<td>语言</td>
	<td>判题结果</td>
	<td>提交时间</td>
</tr>
{% for judge in object_list %}

<tr>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.id}} </a> </td>
   <td><a href="/oj/users/{{judge.user.id}}/"> {{judge.user}} {{judge.user.first_name}}</a> </td>
   <td><a href="/oj/problem/{{judge.problem.id}}/"> {{judge.problem.id}}</a></td>
   <td> {{judge.language}} </td>
   <td><a href="/oj/judge/{{judge.id}}/"> {{judge.get_result_display}} </a> </td>
   <td> {{judge.submittime}} </td>
</tr>

{% endfor %}
</table>
{% endblock %}


{% block navigator %}
{% if is_paginated %}
<table border = 1>
<tr>
   {% if has_previous %} <td><a href="./?{{previous}}">前一页</a></td>  {% endif %}
   <td>current:{{page}}/{{pages}}</td>
   {% if has_next %} <td><a href="./?{{next}}">后一页</a></td> {% endif %}
</tr>
</table>
{% endif %}
{% endblock %}
