<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-cn" />
        <meta name="keywords" content="online judge" />

        <title>{% block title %} Online Judge {% endblock %}</title>

    </head>

    <body>
      <div id="header">
	{% block header %}
	<table border = "1">
	  <tr>
	    <td>Current User: {% if user.is_anonymous  %} Not Logged in {% else %}{{ user }} {% endif %}</td>
	    <td><a href="/users/login/">Login</a></td>
	    <td><a href="/users/logout/">Logout</a></td>
	    <td><a href="/users/register/">Register</a></td>
	  </tr>
	</table>
	<table border = "1">
	  <tr>
	    <td><a href="/users/">Users</a></td>
	    <td><a href="/volume/">ProblemsVolumes</a></td>
	    <td><a href="/judge/">JudgeList</a></td>
	    <td><a href="/contest/">Contest</a></td>
	    <td><a href="/admin/">Administrator</a></td>
	  </tr>
	</table>
	{% endblock %}
      </div>
      <hr />
      <div id="container">
        {% block content %} content {% endblock %}
      </div>

      <hr />

      <div id="footer">
        <p>Powered by Django | Powered by Python | &copy; 2006 czk</p>
      </div>
    </body>
</html>
