{% extends "base.html" %}

{% block content %}

<h2>Todo List:</h2>

<table border = '1'>
  <tr>
    <td>更智能的结果比对</td>
  </tr>
  <tr>
    <td>用户注册</td>
  </tr>
  <tr>
    <td>比赛</td>
  </tr>
  <tr>
    <td>java, python等其他语言判题</td>
  </tr>
  <tr>
    <td>bug:随机出现的MLE</td>
  </tr>
  <tr>
    <td>bug:显示源代码时没有对尖括号做转义处理(fixed)</td>
  </tr>
  <tr>
    <td>特殊判题</td>
  </tr>
  <tr>
    <td>bug:用户答对题目列表中有重复项</td>
  </tr>
  <tr>
    <td>运行时错误只有错误代号，没有错误信息(partially fixed)</td>
  </tr>
  <tr>
    <td>security problems:( i don't know how to fix</td>
  </tr>
  <tr>
    <td>中文题目显示问题(fixed)</td>
  </tr>

</table>

{% endblock %}

