{% extends "base.html" %}


{% block content %}
<h2>{{object.title}}</h2>
<p>{{object.description}}</p>

<table border="1">
<tr>
  <td>题目编号</td>
  <td>题目标题</td>
  <td>AC总数</td>
  <td>提交总数</td>
</tr>
{% for problem in object.problem.all %}
<tr>
   <td><a href="/oj/problem/{{problem.id}}/"> {{problem.id}} </a> </td>
   <td><a href="/oj/problem/{{problem.id}}/"> {{problem.title}} </a> </td>
   <td><a href="/oj/judge/?problem={{problem.id}}&result=AC"> {{problem.accept_counts}}</a></td>
   <td><a href="/oj/judge/?problem={{problem.id}}/"> {{problem.submit_counts}}</a></td>
</tr>
{% endfor %}

</table>

<hr />
<table>
  <tr>
    {% if user.is_superuser %}
    <td><a href="/oj/volume/{{object.id}}/regenerate/">重新统计</a></td>
    {% endif %}
  </tr>
</table>

{% endblock %}
