{% extends "base.html" %}
{% block title %}
用户详细信息 - {{object.id}} {{object.username}} 
{% endblock %}

{% block content %}


<table border = 1>
  <tr>
    <td>用户编号</td><td> {{object.id}}</td>
  </tr>
  <tr>
    <td>用户名</td><td> {{object.username}}</td>
  </tr>
  <tr>
    <td>真实姓名</td><td> {{object.first_name}}</td>
  </tr>

  <tr>
    <td>最后登录时间</td><td>{{object.last_login}}</td>
  </tr>
  <tr>
    <td>提交次数</td><td>{{profile.submitcounts}}</td>
  </tr>
  <tr>
    <td>成功提交次数</td><td>{{profile.acceptcounts}}</td>
  </tr>
  <tr>
    <td>成功提交的题目</td>
    <td>
      {% for judge in accepted %}
      <a href="/oj/problem/{{judge.problem.problemid}}/">{{judge.problem.problemid}}</a> 
      {% endfor %}
    </td>
  </tr>
</table>
<hr/>
<table>
  <tr>
    <td><a href='/oj/judge/?user={{object.id}}'>状态</a></td>
  </tr>
</table

{% endblock %}
